# Server Configuration
PORT=8080

# Database
DATABASE_URL=postgresql://postgres:sqTkSVvqFlc6OxNC@db.dcjsmglxckhllafocexe.supabase.co:5432/postgres

# Supabase Auth
SUPABASE_URL=https://dcjsmglxckhllafocexe.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRjanNtZ2x4Y2tobGxhZm9jZXhlIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NjA2MjA4OSwiZXhwIjoyMDgxNjM4MDg5fQ.hF7y2qyVCjABxQGKIKKsHdWOLNeSS3MLcqunaga6Eg0
SUPABASE_JWT_SECRET=4iZ15wAI823vU3hTNN2Z+Z6odhKMYNX3UCwUb3vFdegNKM08yvEcmbE7L0Dq+CbkQgW1EYLpuS3kvWfTEdL7og==

# AI Service
OPENROUTER_API_KEY=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
